<launch>
    <arg
        name="oto"
        default="0"
    />
    <node
        pkg="turtlesim"
        type="turtle_teleop_key"
        name="turtle_teleop"
        required="true"
        launch-prefix="xterm -e"
        ns="bir"
    />

    <node
        if="$(arg oto)"
        pkg="deneme"
        type="pubvel"
        name="pubvel"
        output="screen"
        ns="bir"
    />

    <node
        pkg="turtlesim"
        type="turtlesim_node"
        name="turtlesim_node"
        respawn="true"
        ns="bir"
    />
</launch>